ajax==3.0.0
asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.1
bindings==0.1.0
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
decorator==4.4.2
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.2
django-heroku==0.3.1
django-appconf==1.0.5
fanstatic==1.1
filelock==3.7.0
freegames==2.3.2
hashcat==21.10.10
idna==2.10
imageio==2.15.0
imageio-ffmpeg==0.4.5
js==1.0
lxml==4.5.2
moviepy==1.0.3
mysql==0.0.3
mysqlclient==2.0.3
node==0.9.28
numpy==1.21.4
odict==1.8.0
Pillow==9.0.1
pipenv==2022.5.2
platformdirs==2.5.2
plumber==1.6
proglog==0.1.9
pynput==1.7.1
PyYAML==5.4.1
requests==2.24.0
selenium==3.141.0
shutilwhich==1.1.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.2
sudo==1.0.0
tqdm==4.62.3
turtle==0.0.1
tzdata==2021.5
urllib3==1.25.10
virtualenv==20.14.1
virtualenv-clone==0.5.7
WebOb==1.8.7
wget==3.2
gunicorn==19.0.0
whitenoise==6.2.0
psycopg2==2.9.3